body {
  margin: 1em;
  padding: 0;
  font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
  color: #244376;
}

#card {
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  overflow: hidden;
  height: 100vh;
}

model-viewer {
  width: 100%;
  height: 80vh;
  /* background-color: #70BCD1; */
  --progress-bar-color: #000;
  --progress-bar-height: 1px;
    background-color: unset;
}

.bottom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
}

.bottom>p {
  color: black;
  font-size: 120px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}

.attribution h1 {
  margin: 0 0 0.25em;
}

.attribution img {
  opacity: 0.5;
  height: 2em;
}

.attribution .cc {
  flex-shrink: 0;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-style: italic;
  line-height: 1.5em;
}



@media only screen and (max-width: 600px) {
  model-viewer {
    height: 50vh;
    /* background-color: #70BCD1; */
  }
}